$red-color: #FE3C72;
$grey-color: #BDBDBD;

.red-text{
  color: $red-color;
}

.grey-color{
  color: $grey-color;
}

.displayFlex{
  display: flex;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  .page-title {
    color: var(--primary-color);
  }

  .demo-component {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    box-shadow: var(--card-box-shadow);
    width: 500px;
  //  height: 500px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 3rem;
    .heading-card{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .d-flex{
        display: flex;
        align-items: center;
        font-family: 'Calistoga', serif;
        font-weight: 400;
        color: white;
        font-size: 25px;
      }
    }
    .body-card{
      .container-panel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          display: flex;
          align-items: center;
        }
        svg{
          margin-right: 5px;
        }
      }
      .expension-panel-places{
        display: flex;
        &__image{
          width: 20%;
          height: 100%;
        }
        
        .wrapper-block{
          margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
           
            .block{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 5px;
            }
        }
        
      }
      
    }
  }
  .price{
    color: $red-color;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Gilroy-Regular', serif;
  }
}


.expension-panel-places_text{
          width: 80%;
          height: 100%;
          font-family: 'Gilroy-Regular', serif;
}
.circle-wrapper{
  display: flex;
  align-items: center;
 justify-content: space-between;
  flex-wrap: wrap;
}
.circle-wrapper2{
  display: flex;
  align-items: center;
 
  flex-wrap: wrap;
}
.wrapper-checkbox{
  width: 120px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
 
}