:root {
  --primary-background: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
  --primary-color: #fe3c72;
  --secondary-color: rgba(255, 255, 255, 0.7);
  --tertiary-color: rgba(255, 255, 255, 0.5);
  --primary-button-background: linear-gradient(94.44deg, #fe3c72 1.26%, #e15561 100%) !important;
  --black-button-background: #27242c;
  --card-box-shadow: -3.1717941761016846px -3.1717941761016846px 10.149741172790527px 0px #cbc7d140, 6.977947235107422px 6.343588352203369px 17.127687454223633px 0px #111014a6,
    2px 2px 7px 0px #494949 inset;
}
